body{
    background-color: rgb(39, 39, 39);
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight:600;
    font-style: normal;
    color: cadetblue;
}