<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Alunos</title>
</head>
<body>
    <h1>Lista Alunos</h1>
    <ul>
        <%- listaAlunos %>
    </ul>
    <a href="/alunos/adicionar">Adicionar Novo Aluno</a>
</body>
</html>